@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.App {
  max-width: 800px;
  margin: 30px auto;
}

.App footer {
  margin: 10px 0;
  bottom: 113px;
  letter-spacing: 0.05rem;
  font-weight: 400;
}
.open-source {
  color: #ffccdc;
  padding: 2px 5px;
  transition: all 450ms ease-in-out;
}

.open-source:hover {
  text-decoration: none;
  background: #82655b;
  color: #f9f9ed;
}
